<div class="nav">
    <div class="nav__section">
        <a href="#" class="nav__link">home</a>
        <a href="#about" class="nav__link">about</a>
        <a href="#" class="nav__link">about us</a>
    </div>
    <div class="nav__section">
        <a href="#" class="nav__link">contact</a>
        <a href="#" class="nav__link">donate</a>
        <a href="#" class="nav__link">join us</a>
    </div>
</div>