///////////////////       Colors   \\\\\\\\\\\\\\\\\\\\
$color-primary-1: #f3f0ff;
$color-primary-2: #d0bfff;
$color-primary-3: #9775fa;
$color-primary-4: #7950f2;
$color-primary-5: #5f3dc4;

$color-gray-dark-1: #212529;
$color-gray-dark-2: #343a40;
$color-gray-dark-3: #495057;

$color-gray-light-1: #f8f9fa;
$color-gray-light-2: #e9ecef;
$color-gray-light-3: #ced4da;

$color-danger: #d61e1e;

///////////////////     font size  \\\\\\\\\\\\\\\\\\\\

$font-size-largest:1.8rem;
$font-size-larger:1.5rem;
$font-size-large:1.4rem;
$font-size-medium:1.2rem;
$font-size-small:1rem;