<% layout('./layouts/boilerplate') -%>

    <section class="admin">

        <div class="admin-contact">
            <h2 class="title-tertiary">Contacts</h2>

            <form class="form admin-contact__form">
                <div class="form-secion">
                    <label for="name" class="form__label">Name</label>
                    <hr>
                    <div class="form__input" id="name">Percy Pig</div>
                </div>
                <div class="form-secion">
                    <label for="email" class="form__label">Name</label>
                    <hr>
                    <div class="form__input" id="email">sweetpig@eatme.com</div>
                </div>

                <div class="form-section">
                    <label for="details" class="form__label">Details</label>
                    <hr>
                    <div type="text" class="form__input" id="details">A somewhat conerning issue has arisen. Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Id fuga facilis nulla optio quo eveniet numquam, ut
                        fugiat perferendis porro laborum obcaecati! Vel quam autem corrupti corporis adipisci in sequi?
                        Praesentium assumenda ab illum recusandae fugit omnis, officia adipisci vitae ad repellat, hic
                        harum eaque ipsam quasi nihil pariatur, repudiandae nulla. Labore officia veritatis sequi
                        aperiam natus sint, minus ullam </div>
                </div>

                <div class="form-section">
                    <button class="btn btn-danger">Delete</button>
                </div>
            </form>

        </div>

        <div class="admin-add-location">
            <h2 class="title-tertiary">add location</h2>
            <form action="" class="form location__form">

                <div class="form-section">
                    <label for="name" class="form__label">Name of location</label>
                    <input type="text" class="form__input" id="name">
                </div>
                <div class="form-section">
                    <label for="street" class="form__label">Street Name</label>
                    <input type="text" class="form__input" id="street">
                </div>
                <div class="form-section">
                    <label for="postcode" class="form__label">Postcode</label>
                    <input type="text" class="form__input" id="postcode">
                </div>
                <div class="form-section">
                    <label for="details" class="form__label">Details</label>
                    <textarea type="text" class="form__input" id="details">add any addition details here</textarea>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>

    </section>