<% layout('./layouts/boilerplate') -%>

    <section class="main">


        <div class="map">
            <div class="map__map">
                <div id="map"></div>
            </div>
            <div class="map__form">
                <ion-icon name="medkit-outline" class="icon"></ion-icon>
                <p class="map__form-description">By entering your location, our application utilizes geolocation
                    services to identify your current position. With this information, we employ advanced mapping
                    technology to determine the nearest pack in your vicinity. Through real-time calculations and route
                    optimization, we guide you seamlessly to the closest pack, ensuring convenience and efficiency in
                    your journey. Whether you're in search of a recreational space or a vibrant community of like-minded
                    individuals, our application strives to connect you with the most suitable pack nearby. Embrace the
                    adventure and let us help you find your pack!</p>
                <form action="/find" class="map__form-form">

                    <label for="postcode" class="map__form-label">Postcode</label>
                    <input type="text" name="postcode" id="postcode" class="map__form-input"
                        placeholder="Enter Postcode" value="<%= postcode %>">

                    <button class="btn">Find your nearest pack <span>&rarr;</span></button>
                </form>

            </div>
        </div>
        <!-- <img src="img/main-1.jpg" alt="" class="main__img"> -->

    </section>

    <section class="about" id="about">
        <p class="about_paragraph">
            Our charity is dedicated to providing assistance to individuals in need by helping them locate the nearest
            Stab Pack. Through our innovative technology and collaboration with local communities, we strive to offer a
            lifeline to those facing emergency situations. By simply entering your location into our platform, we can
            swiftly identify the closest Stab Pack and connect you with the necessary resources and support. Our mission
            is to ensure that no one feels alone or helpless during challenging times. With our charity's commitment to
            compassionate care and efficient response, we stand ready to guide you to the nearest Stab Pack, empowering
            you with the help and hope you deserve. Together, let's create a safer and more resilient community.
        </p>
    </section>


    <script src="/js/map.js"></script>