/* universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 56.25em) {
  html {
    font-size: 54.45%;
  }
}

body {
  background-color: #e9ecef;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

.main__title {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.title-tertiary {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

ion-icon {
  font-size: 5rem;
  color: inherit;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
}
.nav__section {
  margin: 0 1rem;
}
.nav__link:link, .nav__link:visited {
  color: #ced4da;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  margin: 1rem;
}

#map {
  height: 50rem;
  width: 45%;
  border-radius: 10px;
}
@media (max-width: 56.25em) {
  #map {
    width: unset;
  }
}

.map {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
@media (max-width: 56.25em) {
  .map__map {
    margin: 5rem 0 10rem 0;
    width: 100%;
  }
}
.map__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  align-items: center;
}
@media (max-width: 56.25em) {
  .map__form {
    width: unset;
  }
}
.map__form-description {
  font-size: 1.4rem;
}
.map__form-form {
  width: 100%;
  text-align: center;
}
.map__form-label {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: inherit;
}
.map__form-input {
  display: block;
  margin: 1.5rem auto;
  padding: 0.8rem;
  border-radius: 25px;
  width: 80%;
  font-family: inherit;
  text-align: center;
}
@media (max-width: 56.25em) {
  .map {
    flex-direction: column;
    justify-content: center;
  }
  .map__form-description {
    margin-top: 1.5rem;
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem;
  transition: all 1s;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.692);
}
.btn:hover {
  transform: scale(1.1);
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.692);
}

.btn-danger {
  text-shadow: 0 0.1rem 0.1rem rgba(214, 30, 30, 0.1);
}
.btn-danger:hover {
  color: #d61e1e;
  text-shadow: 0 0.5rem 0.5rem rgba(214, 30, 30, 0.492);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  background-color: #9775fa;
}
.form-section {
  margin: 1.4rem;
}
.form__label {
  font-size: 1.4rem;
  display: block;
}
.form__input {
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  font: inherit;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 56.25em) {
  .form__input {
    width: 80%;
  }
}

.admin-contact__form {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 50px;
  padding: 2rem;
}

.location__form {
  border: 1px solid black;
  border-radius: 50px;
  margin: 0 auto;
  padding: 1.5rem;
  width: 60%;
}
@media (max-width: 56.25em) {
  .location__form {
    width: unset;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  background-color: #9775fa;
  margin: 2rem auto;
  border-radius: 50px;
  padding: 3.5rem;
  margin-top: 0;
}
@media (max-width: 56.25em) {
  .main {
    padding: 1rem 0;
  }
}

.about {
  font-size: 1.4rem;
  margin: 5rem;
}

.admin {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 56.25em) {
  .admin {
    flex-direction: column-reverse;
  }
}
.admin-contact {
  width: 50%;
}
@media (max-width: 56.25em) {
  .admin-contact {
    width: unset;
  }
}
.admin-add-location {
  width: 50%;
}
@media (max-width: 56.25em) {
  .admin-add-location {
    width: unset;
  }
}/*# sourceMappingURL=main.css.map */