.admin {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    @include respond(tab-port) {
        flex-direction: column-reverse;
    }

    &-contact {
        width: 50%;

        @include respond(tab-port) {
            width: unset;
        }

    }

    &-add-location {
        width: 50%;

        @include respond(tab-port) {
            width: unset;
        }

    }
}