.admin {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 85vh;
    margin: 0 auto;

    &-contact {
        width: 50%;

    }

    &-add-location {
        width: 50%;
        // height: 100%;

    }
}