.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    background-color: $color-primary-3;
    margin: 2rem auto;
    border-radius: 50px;
    padding: 3.5rem;
    margin-top: 0;


    &__img {
        width: 50rem;
        border-radius: 20px;
    }
}


.about{
    font-size: $font-size-large;
    margin: 5rem;
}