.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    background-color: $color-primary-3;
    margin: 2rem auto;
    border-radius: 50px;
    padding: 3.5rem;
    margin-top: 0;

    @include respond(tab-port) {
        padding: 1rem 0
    }
}


.about {
    font-size: $font-size-large;
    margin: 5rem;
}