/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include respond(tab-port) {
        font-size: 54.45%;
    }
}

body {
    background-color: $color-gray-light-2;
    box-sizing: border-box;
}