body {
    font-family: 'Poppins', sans-serif;
    color: $color-gray-dark-1;
}

.main {

    &__title {      
        font-size: $font-size-largest;
        letter-spacing: 1px;
    }
}

.title{

    &-tertiary{
        margin-bottom: 1.5rem;
        font-size: $font-size-largest;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}


ion-icon {
    font-size: 5rem;
    color: inherit;
  }